body {
      background-color: #FDF6E6;
}

.container {
  margin: 80px;
  padding: 30px;
  border: 2px solid grey;
  border-radius: 12px;
  background-color: #CFDBC7;
}

.main .example {
  font-style: italic;
}

.footer {
  font-size: 14px;
  text-align: center;
}

.footer p {
  margin: 0;
}
